<!-- Error and success messages -->
<script src="/assets/error2.js" async></script>
<div id="error-cont" class="cont">
	<div id="error" class="cont round" style="display: none"></div>
</div>
<div id="success-cont" class="cont">
	<div id="success" class="cont round" style="display: none"></div>
</div>
<style>
	#error-cont,
	#success-cont {
		width: 100vw;
		position: fixed;
		left: 0px;
		top: 1.3rem;
	}

	#error,
	#success {
		width: 60%;
		padding: 1.3rem;
	}

	#error {
		background-color: var(--wbred);
	}

	#success {
		background-color: #37b315;
	}
</style>