<br />
<br />
<br />
<br />
<div id="footer">
	<a class="ft-item not-last">
		<div class="cont ft-cont">
			<img src="/assets/icons/box.svg" width="17px" />
		</div>
	</a>
	<a href="/inbox" class="ft-item not-last">
		<div class="cont ft-cont">
			<img src="/assets/icons/mail.svg" width="17px" />
		</div>
	</a>
	<a href="/" class="ft-item not-last">
		<div class="cont ft-cont">
			<img src="/assets/icons/home.svg" width="17px" />
		</div>
	</a>
	<a href="/calendar" class="ft-item not-last">
		<div class="cont ft-cont">
			<img src="/assets/icons/clock.svg" width="17px" />
		</div>
	</a>
	<a href="/checklists" class="ft-item">
		<div class="cont ft-cont">
			<img src="/assets/icons/check.svg" width="17px" />
		</div>
	</a>
</div>