<br />
<br />
<br />
<br />
<div id="footer">
	<a href="/scouting" class="cont ft-item {{sel0}}">
		<img src="/assets/icons/eye.svg" class="ft-icon" width="17px" />
	</a>
	<a href="/inbox" class="cont ft-item {{sel1}}">
		<img src="/assets/icons/mail.svg" class="ft-icon" width="17px" />
	</a>
	<a href="/" class="cont ft-item {{sel2}}">
		<!-- Translated up to fix it being a bit off center with the other icons -->
		<img src="/assets/icons/home.svg" class="ft-icon" width="17px" style="transform: translateY(-1px)" />
	</a>
	<a href="/calendar" class="cont ft-item {{sel3}}">
		<img src="/assets/icons/clock.svg" class="ft-icon" width="17px" />
	</a>
	<a href="/checklists" class="cont ft-item {{sel4}}">
		<img src="/assets/icons/check.svg" class="ft-icon" width="17px" />
	</a>
</div>