<br />
<br />
<br />
<br />
<div id="footer">
	<a href="/scouting" class="ft-item {{sel0}}">
		<div class="cont ft-cont">
			<img src="/assets/icons/eye.svg" width="17px" />
		</div>
	</a>
	<a href="/inbox" class="ft-item {{sel1}}">
		<div class="cont ft-cont">
			<img src="/assets/icons/mail.svg" width="17px" />
		</div>
	</a>
	<a href="/" class="ft-item {{sel2}}">
		<div class="cont ft-cont">
			<!-- Translated up to fix it being a bit off center with the other icons -->
			<img src="/assets/icons/home.svg" width="17px" style="transform: translateY(-1px)" />
		</div>
	</a>
	<a href="/calendar" class="ft-item {{sel3}}">
		<div class="cont ft-cont">
			<img src="/assets/icons/clock.svg" width="17px" />
		</div>
	</a>
	<a href="/checklists" class="ft-item {{sel4}}">
		<div class="cont ft-cont">
			<img src="/assets/icons/check.svg" width="17px" />
		</div>
	</a>
</div>