<div class="round cont item match nolink {{ours-class}} {{next-class}}">
	<div class="match-inner">
		<div class="cont match-section match-number">
			{{number}}
		</div>
		<div class="cont match-section match-time">
			{{time}}
		</div>
		<div class="cont col match-section alliances">
			<div class="cont alliance">
				<div class="cont round red-team {{red1-class}}" onclick="window.location = '/scouting/team/{{red1}}'">{{red1}}
				</div>
				<div class="cont round red-team {{red2-class}}" onclick="window.location = '/scouting/team/{{red2}}'">{{red2}}
				</div>
				<div class="cont round red-team {{red3-class}}" onclick="window.location = '/scouting/team/{{red3}}'">{{red3}}
				</div>
			</div>
			<div class="cont alliance">
				<div class="cont round blue-team {{blue1-class}}" onclick="window.location = '/scouting/team/{{blue1}}'">
					{{blue1}}</div>
				<div class="cont round blue-team {{blue2-class}}" onclick="window.location = '/scouting/team/{{blue2}}'">
					{{blue2}}</div>
				<div class="cont round blue-team {{blue3-class}}" onclick="window.location = '/scouting/team/{{blue3}}'">
					{{blue3}}</div>
			</div>
		</div>
		<div class="cont">
			<a class="cont round view-button"
				href="/scouting/matchup?team={{red1}}&team={{red2}}&team={{red3}}&team={{blue1}}&team={{blue2}}&team={{blue3}}">
				<img src="/assets/icons/eye.svg" width="12px" />
			</a>
		</div>
	</div>
</div>