<div class="cont col team-coral-breakdown">
	<div class="cont round coral-breakdown-team">{{team}}</div>
	<div class="team-coral-breakdown-grid">
		<div class="cont round coral-score">L1</div>
		<div class="cont round coral-score">L2</div>
		<div class="cont round coral-score">L3</div>
		<div class="cont round coral-score">L4</div>
		<div class="cont round coral-score">{{l1}}</div>
		<div class="cont round coral-score">{{l2}}</div>
		<div class="cont round coral-score">{{l3}}</div>
		<div class="cont round coral-score">{{l4}}</div>
	</div>
</div>