button,
input,
select {
	padding: 0.85rem;
	font-size: calc(1.35vw * var(--scale));
}

.item-cont {
	row-gap: 0.7rem;
	width: 100%;
}

.item {
	padding: 1.4rem;
	background-color: var(--bg2);
	width: 90%;
	box-sizing: border-box;
}

.icon-button {
	width: 0.8rem;
	height: 0.8rem;
	border-radius: 50%;
	background-color: var(--bg2);
}