:root {
	background-color: var(--bg);
	color: var(--fg);
	font-size: calc(1.4vw * var(--scale));
}

button,
input,
select {
	padding: 0.5rem;
}

input[type="checkbox"] {
	padding: 2rem;
}

h1 {
	font-size: calc(4vw * var(--scale));
	margin-bottom: 1.35rem;
}

h2 {
	font-size: calc(3vw * var(--scale));
}

h3 {
	font-size: calc(2vw * var(--scale));
}

h4 {
	font-size: calc(1.7vw * var(--scale));
	color: var(--fg2);
}

h1,
h2,
h3,
h4 {
	text-align: center;
}

.item-cont {
	row-gap: 0.7rem;
	width: 100%;
}

.item {
	padding: 1.4rem;
	background-color: var(--bg2);
	width: 90%;
	box-sizing: border-box;
}

.icon-button {
	width: 0.8rem;
	height: 0.8rem;
	border-radius: 50%;
	background-color: var(--bg2);
}

.dot {
	height: 0.45rem;
	width: 0.45rem;
	background-color: var(--bg3);
	border-radius: 50%;
}