/* NOTICE: If you change this file, make sure to change the URL to the file so that caches are updated */

* {
	font-family: "Rubik";

	/* Colors */
	--fg: #f5f5f5;
	--fg2: #cecece;
	--fg3: #979797;
	--bg: #141414;
	--bg2: #1c1c1c;
	--bg3: #2e2e2e;
	--bg4: #444444;
	--wbred: #d80001;
	--wbredacc: #ec1a1a;
	--wbblue: #2134d9;
	--wbblueacc: #3849d9;
	--wbbluebg: #1b246e;

	--scale: 2.7;
}

:root {
	background-color: var(--bg);
	color: var(--fg);
	font-size: calc(1.42vw * var(--scale));
}

h1,
h2 {
	font-family: "Rockwell Regular", serif;
}

h1,
h2,
h3,
h4,
h5,
p {
	text-align: center;
}

@font-face {
	font-family: Rockwell Regular;
	src: url(/assets/rockwell_regular.otf);
	font-display: swap;
}

@media only screen and (min-width: 768px) {
	* {
		--scale: 0.6;
	}

	.col {
		flex-direction: row;
	}
}

button,
input[type="submit"] {
	color: var(--fg);
	background-color: var(--wbblue);
}

button:hover,
input[type="submit"]:hover {
	background-color: var(--wbblueacc);
}

button:not([disabled]),
input[type="submit"] {
	cursor: pointer;
}

.cont {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.col {
	flex-direction: column;
}

.round,
button,
input {
	border-style: solid;
	border-width: 0px;
	border-radius: 0.5rem;
}

textarea,
input[type="text"],
input[type=""] {
	color: var(--fg);
	background-color: var(--bg2);
	border-color: var(--bg3);
}

textarea {
	resize: none;
	width: 85%;
	height: 12rem;
	padding: 1rem;
}

a.nolink:link {
	color: var(--fg);
	text-decoration: none;
}

a.nolink:visited {
	color: var(--fg);
	text-decoration: none;
}

a.nolink:hover {
	color: var(--fg);
	text-decoration: none;
}

a.nolink:active {
	color: var(--fg);
	text-decoration: none;
}

h1 {
	font-size: calc(4vw * var(--scale));
	margin-bottom: 1.35rem;
}

h2 {
	font-size: calc(3vw * var(--scale));
	margin-bottom: 0.3rem;
}

h3 {
	font-size: calc(2vw * var(--scale));
	margin-bottom: 0.3rem;
}

h4 {
	font-size: calc(1.7vw * var(--scale));
	color: var(--fg2);
	margin-bottom: 0.2rem;
}

/* Footer */

#footer {
	width: 100vw;
	height: 3.9rem;
	position: fixed;
	bottom: 0;
	left: 0;
	margin: 0px;
	background-color: var(--bg2);
	z-index: 100;
}

.ft-item {
	width: 20%;
	height: 100%;
	display: inline-block;
	margin: 0px;
	box-sizing: border-box;
}

.ft-cont {
	width: 100%;
	height: 100%;
	margin: 0px;
}

.ft-sel {
	background-color: var(--wbbluebg);
	border-top: 0.35rem solid var(--wbblue);
}

.dot {
	height: 0.45rem;
	width: 0.45rem;
	background-color: var(--bg3);
	border-radius: 50%;
}

button,
input,
select {
	padding: 0.85rem;
	font-size: calc(1.35vw * var(--scale));
}

.item-cont {
	row-gap: 0.7rem;
	width: 100%;
}

.item {
	padding: 1.4rem;
	background-color: var(--bg2);
	width: 90%;
	box-sizing: border-box;
}

.icon-button {
	width: 0.8rem;
	height: 0.8rem;
	border-radius: 50%;
	background-color: var(--bg2);
}

/* Tables */

table,
tr,
td,
th {
	border: 1px solid var(--fg2);
}

tr,
td {
	border-bottom-color: var(--bg4);
}

td {
	padding: 0.4rem;
}

th[data-sorted=true] {
	background-color: var(--bg3);
}

table {
	border-collapse: collapse;
}

/* Arrows */

.arrow {
	border: solid var(--fg2);
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
}

.right {
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}

.left {
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
}

.up {
	transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
}

.down {
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

/* Errors */

#error-cont {
	width: 100vw;
	position: fixed;
	left: 0px;
	top: 1.3rem;
}

#error {
	width: 60%;
	background-color: var(--wbred);
	padding: 1.3rem;
}

/* Details pages */

.details-subtitle {
	color: var(--fg2);
	font-weight: bold;
	margin-top: -2rem;
	margin-bottom: 0.3rem;
}

.details-icon {
	width: 1.5rem;
	margin-right: -0.55rem;
}