/* NOTICE: If you change this file, make sure to change the URL to the file so that caches are updated */

* {
	font-family: "Rubik";

	/* Colors */
	--fg: #f5f5f5;
	--fg2: #cecece;
	--fg3: #979797;
	--bg: #141414;
	--bg2: #1c1c1c;
	--bg3: #2e2e2e;
	--wbred: #d80001;
	--wbblue: #2134d9;

	--scale: 2.7;
}

:root {
	background-color: var(--bg);
	color: var(--fg);
	font-size: calc(1.42vw * var(--scale));
}

h1,
h2 {
	font-family: "Rockwell Regular";
}

h1,
h2,
h3,
h4,
h5,
p {
	text-align: center;
}

@font-face {
	font-family: Rockwell Regular;
	src: url(/assets/rockwell_regular.otf);
}

@media only screen and (min-width: 768px) {
	* {
		--scale: 0.6;
	}

	.col {
		flex-direction: row;
	}
}

button,
input[type="submit"] {
	color: var(--fg);
	background-color: var(--wbblue);
}

.cont {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1.0rem;
}


.col {
	flex-direction: column;
}

.round,
button,
input {
	border-style: solid;
	border-width: 0px;
	border-radius: 5px;
}

textarea,
input[type="text"],
input[type=""] {
	color: var(--fg);
	background-color: var(--bg2);
	border-color: var(--bg3);
}

a.nolink:link {
	color: var(--fg);
	text-decoration: none;
}

a.nolink:visited {
	color: var(--fg);
	text-decoration: none;
}

a.nolink:hover {
	color: var(--fg);
	text-decoration: none;
}

a.nolink:active {
	color: var(--fg);
	text-decoration: none;
}

h1 {
	font-size: calc(4vw * var(--scale));
	margin-bottom: 1.35rem;
}

h2 {
	font-size: calc(3vw * var(--scale));
}

h3 {
	font-size: calc(2vw * var(--scale));
}

h4 {
	font-size: calc(1.7vw * var(--scale));
	color: var(--fg2);
}

/* Footer */

#footer {
	width: 100vw;
	height: 3.9rem;
	position: fixed;
	bottom: 0;
	left: 0;
	margin: 0px;
	background-color: var(--bg2);
	z-index: 100;
}

.ft-item {
	width: 19.96%;
	height: 100%;
	display: inline-block;
	margin: 0px;
	box-sizing: border-box;
}

.not-last {
	border-style: solid;
	border-width: 0px;
	border-right-width: 1.8px;
	border-color: var(--bg3);
	border-radius: 0px;
}

.ft-cont {
	width: 100%;
	height: 100%;
	margin: 0px;
}

.dot {
	height: 0.45rem;
	width: 0.45rem;
	background-color: var(--bg3);
	border-radius: 50%;
}