* {
	font-family: "Rubik";

	/* Colors */
	--fg: #f5f5f5;
	--fg2: #cecece;
	--fg3: #979797;
	--bg: #141414;
	--bg2: #1c1c1c;
	--bg3: #2e2e2e;
	--wbred: #d80001;
	--wbblue: #2134d9;

	--scale: 2.8;
}

h1,
h2 {
	font-family: "Rockwell Regular";
}

@font-face {
	font-family: Rockwell Regular;
	src: url(/assets/rockwell_regular.otf);
}

@media only screen and (min-width: 768px) {
	* {
		--scale: 1;
	}

	.col {
		flex-direction: row;
	}
}

button,
input[type="submit"] {
	color: var(--fg);
	background-color: var(--wbblue);
}

.cont {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1.0rem;
}


.col {
	flex-direction: column;
}

.round,
button,
input {
	border-style: solid;
	border-width: 0px;
	border-radius: 5px;
}

a.nolink:link {
	color: var(--fg);
	text-decoration: none;
}

a.nolink:visited {
	color: var(--fg);
	text-decoration: none;
}

a.nolink:hover {
	color: var(--fg);
	text-decoration: none;
}

a.nolink:active {
	color: var(--fg);
	text-decoration: none;
}