<div class="cont round item col event{{upcoming-class}}" {{upcoming-props}}>
	<div class="cont ev-header">
		<div class="ev-date">{{date}}</div>
		<div class="ev-name">{{name}}</div>
	</div>
	<div class="cont ev-subtext">
		<div class="ev-kind">{{kind}}</div>
		<div class="dot"></div>
		<div class="ev-invites">{{invites}} invited</div>
		<div class="dot"></div>
		<div class="ev-going">{{going}} going</div>
		<div class="ev-edit">
			<a href="/create_event?id={{id}}">{{edit}}</a>
		</div>
	</div>
</div>