<a href="/event/{{id}}" class="cont round item col nolink event{{upcoming-class}}" {{upcoming-props}}>
	<div class="cont ev-header">
		<div class="ev-name">{{name}}</div>
	</div>
	<div class="cont">
		<img src="/assets/icons/calendar.svg" class="ev-clock" />
		<div class="ev-date">{{date}}</div>
	</div>
	<div class="cont ev-subtext">
		<div class="ev-kind">{{kind}}</div>
		<div class="dot"></div>
		<div class="ev-invites">{{invites}} invited</div>
		<div class="dot"></div>
		<div class="ev-going">{{going}} going</div>
	</div>
</a>